 body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffaf0;
  color: #333;
}

header {
  background-color: #7a1f0f;
  color: white;
  padding: 15px 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 1.8em;
  font-family: "Georgia", serif;
}

/*.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbe6d4;
 position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 40% auto;
}

.carousel img {
  width: 600px;
  height: 300px;
  border-radius: 10px;
}

.carousel button {
  background-color: #7a1f0f;
  color: white;
  border: none;
  font-size: 2em;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
*/

.carousel {
  position: relative;
  width: 600px; /* podés ajustar */
  height: 350px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.carousel-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.carousel-img {
  width: 600px; /* igual que el contenedor */
  height: 350px;
  object-fit: cover; /* ajusta sin deformar */
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.intro, .destacados, .historia, .menu-flex, #contacto {
  padding: 40px;
  text-align: center;
}

.destacados {
  display: flex;
  justify-content: space-around;
}

.plato {
  width: 30%;
}

.menu-flex {
  display: flex;
  justify-content: space-around;
  background-color: #fff3e0;
  padding: 20px;
}

.columna {
  width: 30%;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

input, textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #7a1f0f;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #7a1f0f;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
}

#error {
  color: red;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.platos {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.platos img {
  width: 400px;
  height: 300px;
  object-fit: cover;
} 
